<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="true">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="Ada"/>
        <filter
          name="C"/>
        <filter
          name="C++"/>
        <filter
          name="CUDA"/>
        <filter
          name="Objective-C"/>
        <filter
          name="Objective-C++"/>
      </watched>
      <dir
        name="apps">
        <dir
          name="common">
          <dir
            name="audio">
            <dir
              name="decode"/>
            <dir
              name="demo"/>
            <dir
              name="encode"/>
            <dir
              name="stream"/>
            <dir
              name="wm8978"/>
          </dir>
          <dir
            name="bt_common"/>
          <dir
            name="charge_box"/>
          <dir
            name="config"/>
          <dir
            name="debug"/>
          <dir
            name="dev_manager"/>
          <dir
            name="device">
            <dir
              name="bmp280"/>
            <dir
              name="fm">
              <dir
                name="bk1080"/>
              <dir
                name="fm_inside"/>
              <dir
                name="qn8035"/>
              <dir
                name="rda5807"/>
            </dir>
            <dir
              name="fm_emitter">
              <dir
                name="ac3433"/>
              <dir
                name="fm_inside"/>
              <dir
                name="qn8007"/>
              <dir
                name="qn8027"/>
            </dir>
            <dir
              name="gSensor"/>
            <dir
              name="gps"/>
            <dir
              name="in_ear_detect"/>
            <dir
              name="key"/>
            <dir
              name="max30102"/>
            <dir
              name="norflash"/>
            <dir
              name="qmc5883"/>
            <dir
              name="usb">
              <dir
                name="device"/>
              <dir
                name="host"/>
            </dir>
          </dir>
          <dir
            name="fat_nor"/>
          <dir
            name="file_operate"/>
          <dir
            name="iap"/>
          <dir
            name="include"/>
          <dir
            name="music"/>
          <dir
            name="rec_nor"/>
          <dir
            name="storage_dev"/>
          <dir
            name="temp_trim"/>
          <dir
            name="third_party_profile">
            <dir
              name="common"/>
            <dir
              name="interface"/>
            <dir
              name="jieli">
              <dir
                name="online_db"/>
            </dir>
          </dir>
          <dir
            name="ui">
            <dir
              name="interface"/>
            <dir
              name="lcd"/>
            <dir
              name="lcd_drive">
              <dir
                name="lcd_spi"/>
            </dir>
            <dir
              name="lcd_simple"/>
          </dir>
          <dir
            name="update"/>
          <dir
            name="wireless_dev_manager"/>
        </dir>
        <dir
          name="soundbox">
          <dir
            name="aec">
            <dir
              name="br28"/>
          </dir>
          <dir
            name="board">
            <dir
              name="br28">
              <dir
                name="key_table"/>
            </dir>
          </dir>
          <dir
            name="broadcast"/>
          <dir
            name="bt">
            <dir
              name="multi_demo"/>
            <dir
              name="rcsp">
              <dir
                name="bt_trans_data"/>
            </dir>
            <dir
              name="trans_data_demo"/>
          </dir>
          <dir
            name="common"/>
          <dir
            name="font"/>
          <dir
            name="include">
            <dir
              name="broadcast"/>
            <dir
              name="common"/>
            <dir
              name="fm_emitter"/>
            <dir
              name="soundcard"/>
            <dir
              name="task_manager">
              <dir
                name="fm"/>
              <dir
                name="linein"/>
              <dir
                name="music"/>
              <dir
                name="pc"/>
              <dir
                name="record"/>
              <dir
                name="rtc"/>
              <dir
                name="sleep"/>
              <dir
                name="spdif"/>
              <dir
                name="unisound"/>
            </dir>
            <dir
              name="ui">
              <dir
                name="color_led"/>
              <dir
                name="lcd_simple"/>
              <dir
                name="lcd_spi"/>
            </dir>
            <dir
              name="user_api"/>
          </dir>
          <dir
            name="log_config"/>
          <dir
            name="power_manage"/>
          <dir
            name="qlapp">
            <dir
              name="lsm6d_driver"/>
            <dir
              name="si1181_driver"/>
          </dir>
          <dir
            name="soundcard"/>
          <dir
            name="task_manager">
            <dir
              name="broadcast_mic"/>
            <dir
              name="fm"/>
            <dir
              name="idle"/>
            <dir
              name="linein"/>
            <dir
              name="music"/>
            <dir
              name="pc"/>
            <dir
              name="power_off"/>
            <dir
              name="power_on"/>
            <dir
              name="record"/>
            <dir
              name="rtc"/>
            <dir
              name="sleep"/>
            <dir
              name="spdif"/>
            <dir
              name="unisound"/>
          </dir>
          <dir
            name="third_party_profile">
            <dir
              name="ancs_client_demo"/>
            <dir
              name="trans_data_demo"/>
          </dir>
          <dir
            name="ui">
            <dir
              name="color_led">
              <dir
                name="driver"/>
            </dir>
            <dir
              name="lcd">
              <dir
                name="STYLE_02"/>
            </dir>
            <dir
              name="lcd_simple"/>
            <dir
              name="led"/>
            <dir
              name="led7"/>
          </dir>
          <dir
            name="user_api"/>
          <dir
            name="wireless">
            <dir
              name="ble"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="bt_lib">
        <dir
          name="bt"/>
        <dir
          name="bt_libbin">
          <dir
            name="Debug"/>
        </dir>
        <dir
          name="le_audio"/>
        <dir
          name="multi_demo"/>
        <dir
          name="online_db"/>
        <dir
          name="rcsp">
          <dir
            name="bt_trans_data"/>
          <dir
            name="cmd_data_deal">
            <dir
              name="function_modules">
              <dir
                name="browser"/>
              <dir
                name="device_info">
                <dir
                  name="func_cmd"/>
              </dir>
              <dir
                name="external_flash"/>
              <dir
                name="file_transfer"/>
              <dir
                name="rcsp_setting_opt">
                <dir
                  name="rcsp_setting">
                  <dir
                    name="rcsp_misc_setting"/>
                </dir>
              </dir>
              <dir
                name="rcsp_update"/>
              <dir
                name="sensors_data_opt">
                <dir
                  name="sport_data_info_opt"/>
                <dir
                  name="sports_data_opt"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="rcsp_functions"/>
        </dir>
        <dir
          name="trans_data_demo"/>
      </dir>
      <dir
        name="cpu">
        <dir
          name="br28">
          <dir
            name="audio_common"/>
          <dir
            name="audio_dec"/>
          <dir
            name="audio_demo"/>
          <dir
            name="audio_effect"/>
          <dir
            name="audio_enc"/>
          <dir
            name="audio_mic"/>
          <dir
            name="audio_way">
            <dir
              name="audio_bt_emitter"/>
          </dir>
          <dir
            name="liba">
            <dir
              name="unisound"/>
          </dir>
          <dir
            name="localtws"/>
          <dir
            name="power"/>
          <dir
            name="smart_voice"/>
          <dir
            name="tools"/>
          <dir
            name="ui_driver"/>
        </dir>
      </dir>
      <dir
        name="include_lib">
        <dir
          name="app"/>
        <dir
          name="btctrler">
          <dir
            name="ble"/>
          <dir
            name="classic"/>
          <dir
            name="port">
            <dir
              name="br28"/>
          </dir>
        </dir>
        <dir
          name="btstack">
          <dir
            name="le"/>
          <dir
            name="third_party">
            <dir
              name="broadcast"/>
            <dir
              name="common"/>
            <dir
              name="rcsp"/>
          </dir>
        </dir>
        <dir
          name="driver">
          <dir
            name="cpu">
            <dir
              name="br28">
              <dir
                name="asm">
                <dir
                  name="power"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="device">
            <dir
              name="usb">
              <dir
                name="device"/>
              <dir
                name="host"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="media">
          <dir
            name="media_develop">
            <dir
              name="media">
              <dir
                name="application"/>
              <dir
                name="cpu">
                <dir
                  name="br28">
                  <dir
                    name="asm"/>
                </dir>
              </dir>
              <dir
                name="equalloudness"/>
              <dir
                name="mono2stereo"/>
              <dir
                name="pitchshifter"/>
              <dir
                name="surround"/>
              <dir
                name="vbass"/>
            </dir>
          </dir>
          <dir
            name="sound"/>
          <dir
            name="spectrum"/>
        </dir>
        <dir
          name="system">
          <dir
            name="apple_dock"/>
          <dir
            name="config"/>
          <dir
            name="device"/>
          <dir
            name="fs"/>
          <dir
            name="generic"/>
          <dir
            name="lua"/>
          <dir
            name="math">
            <dir
              name="cpu">
              <dir
                name="br28">
                <dir
                  name="asm"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="os">
            <dir
              name="FreeRTOS">
              <dir
                name="pi32_lto"/>
              <dir
                name="pi32v2"/>
              <dir
                name="q32s"/>
            </dir>
          </dir>
          <dir
            name="server"/>
          <dir
            name="spi"/>
          <dir
            name="ui">
            <dir
              name="font"/>
            <dir
              name="res"/>
            <dir
              name="ui">
              <dir
                name="cpu">
                <dir
                  name="br28">
                  <dir
                    name="asm"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="ui_simple"/>
            <dir
              name="ui_vm"/>
          </dir>
        </dir>
        <dir
          name="update"/>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Ada"/>
    <language
      name="C++"/>
  </languages>
  <file_types/>
  <ada_options
    count_and_or_operators="false"
    count_exception_handlers="true"
    count_for_loops="true"
    create_record_object_components="false"
    create_relations_between_formal_actual_parameters="false"
    display="Original"
    linkage_case="Lowercase"
    optimize_for_less_memory="false"
    preprocessor="None"
    prompt_on_parse_error="true"
    save_comments_associated_with_entities="true"
    version="Ada95"/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""
    diff_flags="1"/>
  <cpp_options
    add_found_include_files="false"
    add_found_system_include_files="false"
    allow_nested_comments="false"
    bracket_depth="256"
    cache_ast_files="false"
    c_std=""
    compiler="Microsoft Visual C++"
    compiler_include_path=""
    create_implicit_special_member_functions="false"
    create_references_in_assembly="true"
    create_references_in_inactive_code="true"
    create_references_to_local_objects="true"
    create_references_to_macros_during_macro_expansion="false"
    create_references_to_parameters="true"
    cxx_std=""
    cuda_arch="sm_20"
    delayed_template_parsing="true"
    triple=""
    ignore_dir_in_include_files="false"
    ignore_preprocessor_conditionals="false"
    ios_min_version="5.0"
    linkage_append_text=""
    linkage_prepend_text=""
    macos_min_version="10.7"
    macro_expansion_truncation="1000"
    msc_version=""
    prompt_for_missing_include_files="false"
    objectDataMembers="false"
    objectFunctionMembers="false"
    save_comments_associated_with_entities="true"
    save_duplicate_references="false"
    save_macro_expansion_text="false"
    simplify_macro_expansion="false"
    search_for_include_files_among_project_files="true"
    start_worker_processes_serially="false"
    sysroot=""
    treat_system_includes_as_user_includes="true"
    use_case_insensitive_lookup_for_includes="false"
    compare_includes_by_content="false"
    analyze_headers_in_isolation="true"
    use_clang="true"
    use_include_cache="true"
    objc_memory_mode="MrrMode"
    worker_process_timeout="2"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
</project>
